@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Yantramanav', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #565969;
}
.active{ 
  color: #FF5E14 !important;
}
.topLink:hover{
  color: #FF5E14;
}
.imageAcordeon,.backgroundImg{
  background-image: url(/assets/icons/default_pattern.png);
}
/*navbar*/
.navContainer{
  width: calc(100% - 500px);
}
.navItem{
  border: 1px solid #e8e8e9;
  border-right: none;
  position: relative;
}
.navItem:hover{
  background-image: url(/assets/icons/default_pattern.png);
  background-position: 520px 0;
  transition: 15s linear;
}

/*footer*/
.copySectionContain{
  border-top: 1px solid #1d263f;
}
.copySection{
  display: grid;
  grid-template-columns: 302px auto 280px;
  justify-items: center;
  align-items: center;
}
.descriptionComponentBlue{
  -webkit-text-stroke: 1px #273B72;
  color: transparent; 
}

.countNumber,.descriptionComponent{
    color: transparent;
    /* -webkit-text-stroke: 1px #E8E8E9; */
    -webkit-text-stroke: 1px #dedfe0;
    /* -webkit-text-stroke: 1px #273B72; */
    /* text-shadow: rgb(232, 232, 233) 1px 0px 0px, rgb(232, 232, 233) 0.540302px 0.841471px 0px, rgb(232, 232, 233) -0.416147px 0.909297px 0px, rgb(232, 232, 233) -0.989992px 0.14112px 0px, rgb(232, 232, 233) -0.653644px -0.756802px 0px, rgb(232, 232, 233) 0.283662px -0.958924px 0px, rgb(232, 232, 233) 0.96017px -0.279415px 0px; */
}
.imageSection{
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 400px;
  aspect-ratio: auto 800 / 533;
  object-fit: cover;
}
/*banner info*/
.boxBannerInfo{
  transition: .3s ease-in-out;
}

.boxBannerInfo:hover{
  background: #00235A;
  box-shadow: -1px -1px 31px -4px rgba(0,35,90,0.95);
  -webkit-box-shadow: -1px -1px 31px -4px rgba(0,35,90,0.95);
  -moz-box-shadow: -1px -1px 31px -4px rgba(0,35,90,0.95);
  border: none;
}
.boxBannerInfo:hover .boxChild {
  border-color: #00235A;
}
.boxBannerInfo:hover .lineBanner{
  background-color: #00235A;
}
.boxBannerInfo:hover .boxChild h4, .boxBannerInfo:hover .boxChild h5{
  color: white;
}
.boxBannerInfo:hover .iconBanner{
  color: white;
  background: #FF5E14;
}

.projecButton{
  padding: 14px 38px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  width: 151px;
  border-radius: 2px;
}
.projecButton1{
  color:#FF5E14;
  font-size: 16px;
  line-height: 24px;
  width: 151px;
  border-radius: 2px;
  padding: 14px 38px;
}
.blueProject-button:hover,.orangeProject-button:hover, .projecButton1:hover{
  box-shadow: 1px 15px 17px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 15px 17px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 15px 17px -1px rgba(0, 0, 0, 0.41);
}
.projecButton:hover{
  box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
}
/*Button*/
.orangeProject-button,.normal-orange{
  background-color: #FF5E14;
  transition: .3s ease all;
}
.normal-blue{
  background-color: #00235A;
  transition: .3s ease all;
}
.blueProject-button{
  background: #09316F;
  transition: .3s ease all;
}
.normal-white{
  background-color: white;
  transition: .3s ease all;
}

.normal-blue:hover{
  box-shadow: 1px 25px 37px -1px rgba(0,35,90,0.41);
  -webkit-box-shadow: 1px 25px 37px -1px rgba(0,35,90,0.41);
  -moz-box-shadow: 1px 25px 37px -1px rgba(0,35,90,0.41);
}
.normal-orange:hover{
  box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
}
.hover-orange:hover{
  box-shadow: 1px 10px 20px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 10px 20 -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 10px 20px -1px rgba(255,94,20,0.41);
}
/*PartnerCotinainer*/
.partnerContainer{
  background-image: url('/assets/partners_image.jpg')
}
/*Carousel Project Item*/
.carousel-item{
  padding: 20px 25px 20px 0px;
}
.carousel-project-container{
  position: inherit !important;
}
.buttonGroupSection{
  left: calc(8.5% - 70px);
}

/* Carousel home */
.button-carousel-info{
  color:white;
  font-size: 16px;
  line-height: 24px;
  width: 151px;
  border-radius: 2px;
  padding: 12px 38px;
}
.sectionArrowCarousel{
  background-image: url(/assets/slider_home.png);
}
.dot-list-carousel{
  bottom: 23px;
  gap: 5px;
}
.react-multi-carousel-dot button {
  transform: scale(1);
  background: #00235A;
  border: none;
  height: 8px;
  width: 8px;
  transition: .3 ease;
}
.react-multi-carousel-dot--active button {
  transform: scale(1.4);
}
.item-class-carousel{
  min-width: 100vh;
  width: 100%;
}

/*Acordeon*/
.containerAcordeon{
  transition: .4s ease all;
}
.button-form:hover,.activeAcordeon,.containerAcordeon:hover .containerIcon-acordeon{
  background-color: #FF5E14;
  box-shadow: 1px 10px 20px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 10px 20 -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 10px 20px -1px rgba(255,94,20,0.41);
}
.activeAcordeon,.containerAcordeon:hover .containerIcon-acordeon .iconsAcordeon{
  color: white
}

/*spinner*/
.spinner {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #6a509d);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}

/* Formulario */
.inputForm{
  font-size: 26px;
  line-height: calc(50px - (12px * 2) - 2px);
  color: #001659;
}
.inputForm:focus{
  border-color: #FF5E14 !important;
}
.button-form{
  transition: .4s ease all;
}