@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Yantramanav', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
.active{ 
  color: #FF5E14 !important;
}
.topLink:hover{
  color: #FF5E14;
}

/*navbar*/
.navContainer{
  width: calc(100% - 500px);
}
.navItem{
  border: 1px solid #e8e8e9;
  border-right: none;
  position: relative;
}
.navItem:hover{
  background-image: url(/assets/icons/default_pattern.png);
  background-position: 520px 0;
  transition: 15s linear;
}

/*footer*/
.copySectionContain{
  border-top: 1px solid #1d263f;
}
.copySection{
  display: grid;
  grid-template-columns: 302px auto 280px;
  justify-items: center;
  align-items: center;
}
