@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Yantramanav', sans-serif;
  box-sizing: border-box;
  margin: 0;
  color: #565969;
}
.active{ 
  color: #FF5E14 !important;
}
.topLink:hover{
  color: #FF5E14;
}
.backgroundImg{
  background-image: url(/assets/icons/default_pattern.png);
}
/*navbar*/
.navContainer{
  width: calc(100% - 500px);
}
.navItem{
  border: 1px solid #e8e8e9;
  border-right: none;
  position: relative;
}
.navItem:hover{
  background-image: url(/assets/icons/default_pattern.png);
  background-position: 520px 0;
  transition: 15s linear;
}

/*footer*/
.copySectionContain{
  border-top: 1px solid #1d263f;
}
.copySection{
  display: grid;
  grid-template-columns: 302px auto 280px;
  justify-items: center;
  align-items: center;
}
.descriptionComponentBlue{
  color: #00235A;
  text-shadow: rgb(39, 59, 114) 1px 0px 0px, rgb(39, 59, 114) 0.540302px 0.841471px 0px, rgb(39, 59, 114) -0.416147px 0.909297px 0px, rgb(39, 59, 114) -0.989992px 0.14112px 0px, rgb(39, 59, 114) -0.653644px -0.756802px 0px, rgb(39, 59, 114) 0.283662px -0.958924px 0px, rgb(39, 59, 114) 0.96017px -0.279415px 0px;
}

.descriptionComponent{
    color: white;
    text-shadow: rgb(232, 232, 233) 1px 0px 0px, rgb(232, 232, 233) 0.540302px 0.841471px 0px, rgb(232, 232, 233) -0.416147px 0.909297px 0px, rgb(232, 232, 233) -0.989992px 0.14112px 0px, rgb(232, 232, 233) -0.653644px -0.756802px 0px, rgb(232, 232, 233) 0.283662px -0.958924px 0px, rgb(232, 232, 233) 0.96017px -0.279415px 0px;
}
.imageSection{
  overflow-clip-margin: content-box;
  overflow: clip;
  height: 400px;
  aspect-ratio: auto 800 / 533;
  object-fit: cover;
}
/*banner info*/
.boxBannerInfo{
  transition: .3s ease-in-out;
}

.boxBannerInfo:hover{
  background: #00235A;
  box-shadow: -1px -1px 31px -4px rgba(0,35,90,0.95);
  -webkit-box-shadow: -1px -1px 31px -4px rgba(0,35,90,0.95);
  -moz-box-shadow: -1px -1px 31px -4px rgba(0,35,90,0.95);
  border: none;
}
.boxBannerInfo:hover .boxChild {
  border-color: #00235A;
}
.boxBannerInfo:hover .lineBanner{
  background-color: #00235A;
}
.boxBannerInfo:hover .boxChild h4, .boxBannerInfo:hover .boxChild h5{
  color: white;
}
.boxBannerInfo:hover .iconBanner{
  color: white;
  background: #FF5E14;
}

.projecButton{
  padding: 14px 38px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  width: 151px;
  border-radius: 2px;
}
.projecButton1{
  color:#FF5E14;
  font-size: 16px;
  line-height: 24px;
  width: 151px;
  border-radius: 2px;
  padding: 14px 38px;
}
.projecButton1:hover{
  box-shadow: 1px 15px 17px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 15px 17px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 15px 17px -1px rgba(0, 0, 0, 0.41);
}
.projecButton:hover{
  box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
}
/*Button*/
.normal-orange{
  background-color: #FF5E14;
  transition: .3s ease all;
}
.normal-white{
  background-color: white;
  transition: .3s ease all;
}

.normal-orange:hover{
  box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 25px 37px -1px rgba(255,94,20,0.41);
}
.hover-orange:hover{
  box-shadow: 1px 10px 20px -1px rgba(255,94,20,0.41);
  -webkit-box-shadow: 1px 10px 20 -1px rgba(255,94,20,0.41);
  -moz-box-shadow: 1px 10px 20px -1px rgba(255,94,20,0.41);
}
/*PartnerCotinainer*/
.partnerContainer{
  background-image: url('/assets/partners_image.jpg')
}